<h1>About Accredify</h1>
<p>
    Investors: Let us verify your accredited status once a year. </p>
    
<p>    
    Issuers and Broker Dealers: rely on us to satisfy the SEC's 'reasonable steps' requirement
</p>