<h1>About Accredify</h1>
<h2>
    Investors: Verify your accredited status with us, only once a year. No more screening questionnaires. Efficient private investing.</h2>
    
<h2>    
    Issuers and Broker Dealers: Trust us to satisfy the SEC's Rule 506 requirements. Our team of attorneys will take the 'reasonable steps to verify' that all of your purchasers are accredited. Accredify's database simplifies your diligence.
</h2>